@model LoginViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Log In";
}

<div style="padding: 40px;"></div>


<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <span class="anchor"></span>

                    <div class="card-body">
                        <form class="row justify-content-center" autocomplete="on" method="post" asp-controller="Account" asp-action="Login">
                            <div asp-validation-summary="All" style="font-size:23px; font-family:Arial" class="text-danger text-center"></div>
                            <div class="row g-3 col-lg-4 col-sm-8">
                                <h1 class="h2 mb-3 fw-normal text-light">Log In</h1>

                                <div class="form-floating">
                                    <input asp-for="Login" type="email" class="form-control" id="floatingInput" placeholder="Email">
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <div class="d-grid gap-2 d-md-block float-right">
                                    <button class="btn btn-success">Continue</button>
                                </div>

                            </div>
                        </form>
                        <div style="padding: 70px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
