@model RegisterViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Registration";
}


<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <span class="anchor"></span>
                    <div class="card card-account card-outline-secondary border border-white">
                        <div class="card-body">
                            <form class="row justify-content-center" asp-controller="Account" asp-action="Register" class="needs-validation" novalidate="">
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Arial" class="text-danger text-center"></div>
                                <div class="row g-3 col-lg-4 col-sm-8">
                                    <h1 class="h3 mb-3 fw-normal">Registration</h1>
                                    <hr class="my-4">
                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Name</label>
                                        <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="Name" value="" required="">
                                        <div class="invalid-feedback">
                                            Required field.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Surname</label>
                                        <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Surname" value="" required="">
                                        <div class="invalid-feedback">
                                            Required field.
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="email" class="form-label">Email</label>
                                        <input asp-for="Login" type="email" class="form-control" id="email" placeholder="you@example.com">
                                        <div class="invalid-feedback">
                                            Required field.
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="birdDate" class="form-label">Bird date</label>
                                        <input asp-for="BirdDate" type="date" class="form-control" id="birddate" required="">
                                        <div class="invalid-feedback">
                                            Required field.
                                        </div>
                                    </div>                    

                                    <div class="col-12">
                                        <label for="Password" class="form-label">Password</label>
                                        <input autocomplete="new-password" asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" value="" required="">
                                        <div class="invalid-feedback">
                                            The password must have at least 6 characters.
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="email" class="form-label">Подтвердите пароль</label>
                                        <input autocomplete="new-password" asp-for="PasswordConfirm" type="password" class="form-control" id="email" placeholder="Подтвердите пароль" required="">
                                        <div class="invalid-feedback">
                                            Password mismatch.
                                        </div>
                                    </div>

                                    <div class="d-grid gap-2 d-md-block float-right">
                                        <button class="btn btn-success">Continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
