@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>      
    </div>
}
@if (User.IsInRole("Admin"))
{
    <div>Admin</div>
}

