@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4 text-white">Welcome</h1>
    </div>

    <div style="padding: 400px;"></div>
}
@if (User.IsInRole("Admin"))
{
    <div>Admin</div>
}

