<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yoda</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/backImage.css" />



</head>

<body class="backgroundImage">
    <div class="text-bg-dark ">
        <div class="container">

            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 text-bg-dark asp-controller="Home" asp-action="Index">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><span style="color:white; font-family:Impact; font-size:30px;">Yoda</span></a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-white text-center">Home</a></li>
                        <li><a href="#" class="nav-link px-2 text-white text-center">About</a></li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-white">Home</a></li>
                        <li><a asp-controller="Todo" asp-action="Todos" class="nav-link px-2 text-white">Todos</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="User" asp-action="GetUsers" class="nav-link px-2 text-white">Admin panel</a></li>
                    }
                </ul>

                @if (!User.Identity.IsAuthenticated)
                {                   
                    <div class="col-md-3 text-end">
                        <a class="btn btn-primary active text-white" asp-controller="Account" asp-action="Login">Log In</a>
                        <a class="btn btn-outline-success  active text-white" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                }
                @if (User.Identity.IsAuthenticated)
                {                 
                    <div class="col-md-3 text-end">
                        <a class="btn btn-primary active text-white" asp-controller="Todo" asp-action="Todos">Todos</a>
                        <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Log Out</a>
                    </div>         
                }
                
            </header>
        </div>
    </div>

    <div class="container-fluid col-xl-12">
        <main role="main">
            @RenderBody()
        </main>

        <div style="padding: 30px;"></div>

    </div>

    <footer class="container">
        <hr class="my-4">
        <p>© 2023 Created 2die4 · <a asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </footer>

    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/bootstrap.esm.js"></script>
    @await RenderSectionAsync("pageScripts", required: false)

</body>
</html>
