@using Yoda.Service.Implementation;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yoda</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />

    <style>
        body {
            background-image: url('../image/bg.jpg');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>

</head>

<body class="backgroundImage">
    <div class="text-bg-light">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 " asp-controller="Home" asp-action="Index">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/yodadeploy.png" width="190" height="40" /></a>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

                    @if (!User.Identity.IsAuthenticated)
                    {

                        <li><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-black text-center">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About" class="nav-link px-2 text-black text-center">About</a></li>
                    }                                      
                </ul>

                @if (!User.Identity.IsAuthenticated)
                {                   
                    <div class="col-md-3 text-end">
                        <a class="btn btn-outline-primary " asp-controller="Account" asp-action="Login">Log In</a>
                        <a class="btn btn-warning  active text-dark" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                }
                @if (User.Identity.IsAuthenticated)
                {
                   
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                                          {
                            <img src="~/image/avatar.jpg" width="32" height="32" alt="..." class="rounded-circle">                         
                            <span class="text-black">Daniel Korolov</span>::after
                        <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                            <li><a class="dropdown-item" asp-controller="Project" asp-action="Projects">Projects</a></li>
                            <li><a class="dropdown-item" asp-controller="Profile" asp-action="GetProfile">Profile</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                               <li><a asp-controller="User" asp-action="GetUsers" class="nav-link px-2 text-black">Admin panel</a></li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Sign out</a></li>
                        </ul>
                    </a>
                }

			</header>
        </div>
    </div>

    <div class="container-fluid col-xl-12">
        <main role="main">
            @RenderBody()
        </main>

        <div style="padding: 30px;"></div>

    </div>

    <footer class="container">
        <hr class="my-4">
        <p>© 2023 Created 2die4 · <a asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/bootstrap.esm.js"></script>
    <script src="~/js/modal.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    @await RenderSectionAsync("pageScripts", required: false)

</body>
</html>
