@using Yoda.Service.Implementation;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yoda</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">


@*    <style>
        body {
            background-image: url('../image/bg.jpg');
            background-size: auto;
            background-repeat: repeat;
            background-attachment: scroll;
        }
    </style>*@

</head>

<body class="backgroundImage">
    <div class="text-bg-light">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 " asp-controller="Home" asp-action="Index">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/yodalogo.png" width="120" height="35" /></a>
                

                @if (!User.Identity.IsAuthenticated)
                {                   
                    <div class="col-md-3 text-end">
                        <a   class="btn btn-outline-primary " asp-controller="Account" asp-action="Login">Log In</a>
                        <a class="btn btn-warning  active text-dark" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                }
                @if (User.Identity.IsAuthenticated)
                {
                   
                    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                                          
                            <img src="~/image/UserBaseAvatar.png" width="32" height="32" alt="..." class="rounded-circle">                         
                            <span class="text-black">Daniel Korolov</span>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" asp-controller="Project" asp-action="Projects">Projects</a></li>
                            <li><a class="dropdown-item" asp-controller="Profile" asp-action="GetProfile">Profile</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a asp-controller="User" asp-action="GetUsers" class="dropdown-item">Admin panel</a></li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Sign out</a></li>
                        </ul>
                    </a>
                }

			</header>
        </div>
    </div>

    <div class="container-fluid col-xl-12">
        <main role="main">
            @RenderBody()
        </main>
    </div>



    <div class="modal fade" id="newProjectModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-centered">
            <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title">New project</h5>
                    <button class="btn btn-close" id="btn-close"></button>
               </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveNewProject">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="newUserModalId" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New user</h5>
                    <button class="btn btn-close" id="btn-close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveNewUser">Save</button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    @await RenderSectionAsync("pageScripts", required: false)

</body>

</html>
