@model ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "_Layout";
}


<div class="card card-account card-outline-secondary border border-white">
<div class="container">
    <div class="row align-items-start">
        <div class="col-2 text-center" style="padding: 30px;">
                
            
                @if (Model.Image != null)
                {
                    <img src="data:image /jpeg;base64,@Convert.ToBase64String(Model?.Image ?? Array.Empty<byte>())" alt="..."  class="img-thumbnail rounded-circle">
                }
                else{
                    <img src="~/image/avatar.jpg" heidht="150" width="150" alt="..." class="img-thumbnail rounded-circle">
                }
                <div class="row">
                    <button class="btn btn-outline-secondary" id="editAvatarId">Edit</button>
                </div>
        </div>
        <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <span class="anchor"></span>
                                    <div class="card card-account card-outline-secondary border border-white">
                                        <div class="card-body">
                                            <form id="profileFormId">
                                                <input asp-for="Id" hidden="hidden" />
                                                <h5 class="card-title">Profile data</h5>
                                                <div class="mb-3">
                                                    <label class="form-label text-black-50">First name</label>
                                                    <input type="text" class="form-control" asp-for="FirstName">
                                                    <div class="form-text">The name must contain at least 2 characters, and no more than 50.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label text-black-50">Surname</label>
                                                    <input type="text" class="form-control" asp-for="LastName">
                                                    <div class="form-text">The surname must contain at least 2 characters, and no more than 50.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label text-black-50">Bird date</label>
                                                    <input asp-for="BirdDate" type="date" class="form-control">
                                                </div>
                                                <div class="card-buttons-group">
                                                    <button class='btn btn-success' id='saveProfileId'>Save</button>
                                                    <div style="padding: 30px;"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <span class="anchor"></span>
                                    <div class="card card-account card-outline-secondary border border-white">
                                        <div class="card-body">
                                            <form id="accountFormId">
                                                <h5 class="card-title">Account data</h5>
                                                <div class="mb-3">
                                                    <label asp-for="Login" class="form-label text-black-50">Email</label>
                                                    <input type="text" class="form-control" asp-for="Login" >
                                                    <div class="form-text">Login length must be from 3 to 20 characters.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label text-black-50">New password</label>
                                                    <input name="NewPassword" class="form-control textbox-dg font-weight-bold" type="password">
                                                </div>
                                                <div class="card-buttons-group">
                                                    <button class='btn btn-success' id='saveAccountId'>Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            <div class="col-1"></div>
    </div>
</div>
</div>








@section pageScripts
{
    <script src="~/lib/select2/js/select2.full.min.js"></script>

    <script>
        $('#saveProfileId').on('click', function (e) {
            e.preventDefault();
            const data = $('#profileFormId').serialize()
            $.ajax({
                url: '@Url.Action("Update", "Profile")',
                type: 'POST',
                data: data,
                success: function (response) {
                    Swal.fire({
                        title: 'Information',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })
                },
                error: function (data) {
                    Swal.fire({
                        title: 'Information',
                        text: 'Validation error',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            });
        });

        $('#saveAccountId').on('click', function (e) {
            e.preventDefault();

            $('#UserLogin').removeAttr('disabled')
            const data = $('#accountFormId').serialize()
            $('#UserLogin').attr('disabled', 'disabled')

            $.ajax({
                url: '@Url.Action("ChangePassword", "Account")',
                type: 'POST',
                data: data,
                success: function (response) {
                    Swal.fire({
                        title: 'Information',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Information',
                        text: response.responseJSON.errorMessage,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            });
        });
    </script>
    <script src="~/js/modal.js"></script>

    <script>
        let modal = $('#modalWhButtons');

        $(".btn-close").click(function () {
            modal.modal('hide');
        });

        $('#addCarId').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '/Car/Save',
                success: function (response) {
                    $('.modal-dialog').removeClass("modal-lg");
                    modal.find(".modal-body").html(response);
                    modal.modal('show')
                },
                failure: function () {
                    modal.modal('hide')
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

    </script>
}
