@model List<ProjectViewModel>
@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
    
}

<div class="container py-5">

    if(Model!=null|| Model.Count!=0)
    {
        <div class="card col-md-12" style="margin: 10px;">
         <div class="card-buttons-group">              
                <button class='btn btn-success' id='addUserId'>New Projects</button>     
         </div>
    </div>
    }
    

    @if (Model == null || Model.Count == 0)
    {
        <div style="padding:40px;"></div>
        <div class="card col-md-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <button class='btn btn-success' id='addUserId'>Create first project</button>     
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                @foreach(var project in Model)
                {
                   <div class="card-body">
                         <h5 class="card-title">@project.Title</h5>
                         
                         <div class="d-flex justify-content-between align-items-center">
                             <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                             </div>
                             <small class="text-muted">@project.DateCreated</small>
                         </div>
                   </div>        
                } 
            </div>
      </div>
    }
</div

@section pageScripts
    {
    <script src="~/js/modal.js"></script>
    <script>
        let modal = $('#modal');

        $('#addUserId').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Save")',
                success: function (response) {
                    modal.find(".modal-body").html(response);
                    modal.modal('show')
                },
                failure: function () {
                    modal.modal('hide')
                }
            });
        });

        $('#saveBtn').on('click', function () {
            const data = $('#formSaveUser').serialize()
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save")',
                data: data,
                success: function (data) {
                    Swal.fire({
                        title: 'Info',
                        text: data.description,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Info',
                        text: response.responseJSON.errorMessage,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        });
    </script>
}

